/* Media Query 1170px */
@media (max-width: 1170px) {
  /* General CSS */
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* 01 Navbar CSS */
  .header .navbar {
    padding: 2rem;
  }

  .header .navbar-nav {
    margin-top: 2rem;
  }

  .header .header_right span {
    padding: 0.2rem 0.5rem;
  }

  .main-btn {
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  /* corousel css */
  .carousel-caption {
    top: 40%;
    width: 80%;
  }

  .carousel-caption h2 {
    font-size: 54px;
    margin-bottom: 0;
  }

  .contact_address {
    margin-bottom: 70px;
  }

  .carousel-caption .btn {
    margin-top: 10px;
  }

  .contact_section .contact_number {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  /* carousel css */
  .carousel-caption {
    top: 50%;
  }

  .carousel-caption h2 {
    font-size: 44px;
  }
}

/* Media Query 991px */
@media (max-width: 991px) {
  /* 01 Navbar CSS */
  .header .navbar-nav {
    margin-top: 2rem;
  }

  .header .header_right span {
    padding: 0.2rem 0.5rem;
  }

  /* carousel css */
  .carousel-caption h2 {
    font-size: 44px;
    margin-bottom: 0;
  }
}

/* Media Query 767px */
@media (max-width: 767px) {
  /* General CSS */
  body,
  html {
    font-size: 7px;
  }

  .carousel-caption h2 {
    font-size: 14px;
  }
  .carousel-caption p {
    font-size: 10px;
  }

  .carousel-caption {
    top: 50%;
  }
}

/* Media Query 590px */
@media (max-width: 520px) {
  .carousel-caption {
    top: 40%;
  }

  section {
    padding: 5rem 0;
  }
}

@media (max-width: 344px) {
  /* carousel css */
  .carousel-caption h2 {
    font-size: 12px;
  }

  .carousel-caption p {
    font-size: 9px;
  }
}
